In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv("logs.csv", index_col=0, delimiter=';')

In [3]:
data.head()
#print(data.columns.values)

,startHour,startWeekday,duration,cCount,cMinPrice,cMaxPrice,cSumPrice,bCount,bMinPrice,bMaxPrice,...,availability,customerNo,maxVal,customerScore,accountLifetime,payments,age,address,lastOrder,order
sessionNo,,,,,,,,,,,,,,,,,,,,,
1,6,5,0.000,1,59.99,59.99,59.99,1,59.99,59.99,...,completely orderable,1,600,70,21,1,43,1,49,y
1,6,5,11.940,1,59.99,59.99,59.99,1,59.99,59.99,...,completely orderable,1,600,70,21,1,43,1,49,y
1,6,5,39.887,1,59.99,59.99,59.99,1,59.99,59.99,...,completely orderable,1,600,70,21,1,43,1,49,y
3,6,5,181.477,9,29.99,29.99,89.97,1,29.99,29.99,...,completely orderable,3,1800,475,302,12,45,1,11,y
3,6,5,297.018,11,9.99,29.99,109.95,2,9.99,29.99,...,completely orderable,3,1800,475,302,12,45,1,11,y

In [4]:
order_ = []
for i in data['order']:
    if i == "y":
        order_.append('1')
    elif i == "n":
        order_.append('2')
data['order_'] = order_
data = data.drop(["order", "onlineStatus", "availability"], axis=1)

In [5]:
data.head()

,startHour,startWeekday,duration,cCount,cMinPrice,cMaxPrice,cSumPrice,bCount,bMinPrice,bMaxPrice,...,bStep,customerNo,maxVal,customerScore,accountLifetime,payments,age,address,lastOrder,order_
sessionNo,,,,,,,,,,,,,,,,,,,,,
1,6,5,0.000,1,59.99,59.99,59.99,1,59.99,59.99,...,2,1,600,70,21,1,43,1,49,1
1,6,5,11.940,1,59.99,59.99,59.99,1,59.99,59.99,...,2,1,600,70,21,1,43,1,49,1
1,6,5,39.887,1,59.99,59.99,59.99,1,59.99,59.99,...,3,1,600,70,21,1,43,1,49,1
3,6,5,181.477,9,29.99,29.99,89.97,1,29.99,29.99,...,1,3,1800,475,302,12,45,1,11,1
3,6,5,297.018,11,9.99,29.99,109.95,2,9.99,29.99,...,1,3,1800,475,302,12,45,1,11,1

In [6]:
# dividing data
from sklearn.model_selection import train_test_split
x = data.drop(["order_"], axis=1)
y = data.order_

train_x, test_x, train_y, test_y = train_test_split(x, y, random_state = 42)

In [8]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(train_x, train_y)
y_pred = knn.predict(test_x)
print("Test set score: {:.2f}".format(knn.score(test_x, test_y)))
print("Training set score: {:.2f}".format(knn.score(train_x, train_y)))

Test set score: 0.83
Training set score: 0.90

In [13]:
from sklearn.metrics import mean_squared_error
from math import sqrt

mse = mean_squared_error(test_y, y_pred)
print(mse)

0.17085379029280234