In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv("logs.csv", index_col=0, delimiter=';')

In [3]:
data.head()

,startHour,startWeekday,duration,cCount,cMinPrice,cMaxPrice,cSumPrice,bCount,bMinPrice,bMaxPrice,...,availability,customerNo,maxVal,customerScore,accountLifetime,payments,age,address,lastOrder,order
sessionNo,,,,,,,,,,,,,,,,,,,,,
1,6,5,0.000,1,59.99,59.99,59.99,1,59.99,59.99,...,completely orderable,1,600,70,21,1,43,1,49,y
1,6,5,11.940,1,59.99,59.99,59.99,1,59.99,59.99,...,completely orderable,1,600,70,21,1,43,1,49,y
1,6,5,39.887,1,59.99,59.99,59.99,1,59.99,59.99,...,completely orderable,1,600,70,21,1,43,1,49,y
3,6,5,181.477,9,29.99,29.99,89.97,1,29.99,29.99,...,completely orderable,3,1800,475,302,12,45,1,11,y
3,6,5,297.018,11,9.99,29.99,109.95,2,9.99,29.99,...,completely orderable,3,1800,475,302,12,45,1,11,y

In [4]:
order_ = []
for i in data['order']:
    if i == "y":
        order_.append('1')
    elif i == "n":
        order_.append('2')
# We are dropping categorical variables
data['order_'] = order_
data = data.drop(["order", "onlineStatus", "availability"], axis=1)

In [5]:
data.head()

,startHour,startWeekday,duration,cCount,cMinPrice,cMaxPrice,cSumPrice,bCount,bMinPrice,bMaxPrice,...,bStep,customerNo,maxVal,customerScore,accountLifetime,payments,age,address,lastOrder,order_
sessionNo,,,,,,,,,,,,,,,,,,,,,
1,6,5,0.000,1,59.99,59.99,59.99,1,59.99,59.99,...,2,1,600,70,21,1,43,1,49,1
1,6,5,11.940,1,59.99,59.99,59.99,1,59.99,59.99,...,2,1,600,70,21,1,43,1,49,1
1,6,5,39.887,1,59.99,59.99,59.99,1,59.99,59.99,...,3,1,600,70,21,1,43,1,49,1
3,6,5,181.477,9,29.99,29.99,89.97,1,29.99,29.99,...,1,3,1800,475,302,12,45,1,11,1
3,6,5,297.018,11,9.99,29.99,109.95,2,9.99,29.99,...,1,3,1800,475,302,12,45,1,11,1

In [6]:
# Dividing data
from sklearn.model_selection import train_test_split
x = data.drop(["order_"], axis=1)
y = data.order_

train_x, test_x, train_y, test_y = train_test_split(x, y, random_state = 42)

In [43]:
# ____________________________________
# Starting model section. For the results we are using 3 measures: score, which counts accuracy of the prediction, MSE - Mean Squared Error and confusion matrix.
# We are not using MSE for Naive Bayes
# We will use confusion matrix in the following format: 
# TP FP
# TN FN
# _____________________________________
# Now we will will build models in the order: kNN, Logistic Regression and Naive Bayes. 
# First, for 22 parameters.
# _____________________________________
# kNN

In [8]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(train_x, train_y)
y_pred = knn.predict(test_x)
print("Test set score: {:.2f}".format(knn.score(test_x, test_y)))
print("Training set score: {:.2f}".format(knn.score(train_x, train_y)))

Test set score: 0.83
Training set score: 0.90

In [9]:
from sklearn.metrics import mean_squared_error
from math import sqrt
mse = mean_squared_error(test_y, y_pred)
print(mse)

0.17085379029280234

In [10]:
from sklearn.metrics import confusion_matrix
print(confusion_matrix(test_y,y_pred))

[[47778  4362]
 [ 8131 12850]]

In [11]:
# Logistic regression

In [12]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression(solver='lbfgs', max_iter=100, penalty='none')
logreg.fit(train_x, train_y)
y_pred = logreg.predict(test_x)
print("Test set score: {:.2f}".format(logreg.score(test_x, test_y)))
print("Training set score: {:.2f}".format(logreg.score(train_x, train_y)))

C:\Users\ktoma\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Test set score: 0.72
Training set score: 0.71

In [13]:
mse = mean_squared_error(test_y, y_pred)
print(mse)

0.2848429315791633

In [14]:
print(confusion_matrix(test_y,y_pred))

[[51265   875]
 [19953  1028]]

In [15]:
# Naive Bayes

In [16]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
y_pred = gnb.fit(train_x, train_y).predict(test_x)
print("Test set score: {:.2f}".format(gnb.score(test_x, test_y)))
print("Training set score: {:.2f}".format(gnb.score(train_x, train_y)))

Test set score: 0.71
Training set score: 0.71

In [17]:
print(confusion_matrix(test_y,y_pred))

[[48286  3854]
 [17392  3589]]

In [18]:
# _____________________________________
# 15 parameters
# _____________________________________

In [19]:
# Dropping parameters in the random order until we will reach 15
data = data.drop(["startWeekday", "duration", "cCount", "bCount", "bMaxPrice", "customerNo", "maxVal" ], axis=1)

In [20]:
# Assigning new data
x = data
y = data.order_

train_x, test_x, train_y, test_y = train_test_split(x, y, random_state = 42)

In [21]:
# kNN
knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(train_x, train_y)
y_pred = knn.predict(test_x)
print("Test set score: {:.2f}".format(knn.score(test_x, test_y)))
print("Training set score: {:.2f}".format(knn.score(train_x, train_y)))

Test set score: 0.83
Training set score: 0.91

In [22]:
mse = mean_squared_error(test_y, y_pred)
print(mse)

0.16665527003186498

In [23]:
print(confusion_matrix(test_y,y_pred))

[[47679  4461]
 [ 7725 13256]]

In [24]:
# Logistic Regression

In [25]:
logreg = LogisticRegression(solver='lbfgs', max_iter=100, penalty='none')
logreg.fit(train_x, train_y)
y_pred = logreg.predict(test_x)
print("Test set score: {:.2f}".format(logreg.score(test_x, test_y)))
print("Training set score: {:.2f}".format(logreg.score(train_x, train_y)))

C:\Users\ktoma\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Test set score: 0.71
Training set score: 0.71

In [26]:
mse = mean_squared_error(test_y, y_pred)
print(mse)

0.2859506844818862

In [27]:
print(confusion_matrix(test_y,y_pred))

[[51032  1108]
 [19801  1180]]

In [28]:
# Naive Bayes

In [29]:
gnb = GaussianNB()
y_pred = gnb.fit(train_x, train_y).predict(test_x)
print("Test set score: {:.2f}".format(gnb.score(test_x, test_y)))
print("Training set score: {:.2f}".format(gnb.score(train_x, train_y)))

Test set score: 0.99
Training set score: 1.00

In [30]:
print(confusion_matrix(test_y,y_pred))

[[51788   352]
 [   19 20962]]

In [31]:
# _____________________________________
# 10 parameters
# _____________________________________

In [32]:
data.head()

,startHour,cMinPrice,cMaxPrice,cSumPrice,bMinPrice,bSumPrice,bStep,customerScore,accountLifetime,payments,age,address,lastOrder,order_
sessionNo,,,,,,,,,,,,,,
1,6,59.99,59.99,59.99,59.99,59.99,2,70,21,1,43,1,49,1
1,6,59.99,59.99,59.99,59.99,59.99,2,70,21,1,43,1,49,1
1,6,59.99,59.99,59.99,59.99,59.99,3,70,21,1,43,1,49,1
3,6,29.99,29.99,89.97,29.99,29.99,1,475,302,12,45,1,11,1
3,6,9.99,29.99,109.95,9.99,39.98,1,475,302,12,45,1,11,1

In [33]:
# Dropping data until we will reach 10 parameters
data = data.drop(["cMaxPrice", "cMinPrice", "startHour", "cSumPrice"], axis=1)

In [34]:
# Assigning new data
x = data
y = data.order_

train_x, test_x, train_y, test_y = train_test_split(x, y, random_state = 42)

In [35]:
# kNN
knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(train_x, train_y)
y_pred = knn.predict(test_x)
print("Test set score: {:.2f}".format(knn.score(test_x, test_y)))
print("Training set score: {:.2f}".format(knn.score(train_x, train_y)))

Test set score: 0.83
Training set score: 0.90

In [36]:
mse = mean_squared_error(test_y, y_pred)
print(mse)

0.17248122974248165

In [37]:
print(confusion_matrix(test_y,y_pred))

[[47172  4968]
 [ 7644 13337]]

In [38]:
# Logistic Regression
logreg = LogisticRegression(solver='lbfgs', max_iter=100, penalty='none')
logreg.fit(train_x, train_y)
y_pred = logreg.predict(test_x)
print("Test set score: {:.2f}".format(logreg.score(test_x, test_y)))
print("Training set score: {:.2f}".format(logreg.score(train_x, train_y)))

C:\Users\ktoma\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Test set score: 0.93
Training set score: 0.93

In [39]:
mse = mean_squared_error(test_y, y_pred)
print(mse)

0.07238686560632376

In [44]:
gnb = GaussianNB()
y_pred = gnb.fit(train_x, train_y).predict(test_x)
print("Test set score: {:.2f}".format(gnb.score(test_x, test_y)))
print("Training set score: {:.2f}".format(gnb.score(train_x, train_y)))

Test set score: 1.00
Training set score: 1.00

In [45]:
print(confusion_matrix(test_y,y_pred))

[[52140     0]
 [    0 20981]]